/* Breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

/* Colors */
$aqua: #47B8DE;

html, body {
    background-color: #fff;
    min-height: 100%;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    margin: 5%;
    flex: 1;
}

.flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
    height: 3rem;
    text-align: center;
}
