/* Breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

/* Colors */
$white: #FCFAF9;
$beige: #F3D3BD;
$grey: #5E5E5E;
$darkgrey: #333333;
$aqua: #48E5C2;
$blackShade: rgba(0, 0, 0, 0.35);

$blue: #3993DD;
$dimGrey: rgb(105, 105, 105);

html, body {
    background-color: $white;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container {
    margin: 5%;
    flex: 1;
}

.flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@import "navigation";
@import "footer";
