@import "allpages";

.description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: $dimGrey;
    text-align: justify;

    @media(min-width: $breakpoint-laptop) {
        font-size: 22px;
    }
}
